.App {
  text-align: center;
  color: white;
  height: 100vh;
  width: fit-content;
}

header {
  display: flex;
  width: calc(100vw - 40px);
  margin: 10px 20px;
  justify-content: space-between;
  position: fixed;
  font-size: 1.3rem;
  z-index: 1;
}
header h1 {
  transition: all 0.5s ease;
  font-weight: 500;
}
header > h1:hover {
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}
h1 {
  margin: 0;
}
.space {
  min-width: 20vw;
  height: 4rem;
}
.end {
  max-width: 10vh;
}
.scroll {
  width: fit-content;
  height: 100%;
}
.container {
  display: flex;
  gap: 2.5rem;
  height: 100vh;
  align-items: center;
}
.block {
  position: relative;
  width: 28.5rem;
  height: 30rem;
  background-position: center;
  background-size: cover;
  transition: all ease 0.5s;
  cursor: pointer;
  transform: scale(1);
}

.texts {
  position: relative;
  left: -8rem;
  text-align: left;
  cursor: default;
  /* text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000; */
}
.title,
.type,
.description,
a {
  /* text-shadow: 0.3px 0.3px 3px black; */
  filter: grayscale(0%);
  text-align: left;
}
.type {
  font-size: 1.6rem;
}

.title {
  font-size: 5rem;
  line-height: 4.3rem;
  font-weight: 900;
}
.description {
  font-size: 1.4rem;
  font-style: italic;
}

a {
  text-decoration: underline;
  color: white;
  font-size: 2rem;
  font-style: italic;
}

.-scroll {
  position: fixed;
  color: #fff;
  bottom: 0;
  display: flex;
}
.-scroll > p {
  font-size: 1.5rem;
  padding: 5px 20px;
  padding-right: 0px;
}
.-scroll > svg {
  width: 1.2rem;
  height: 1.2rem;
}
