@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap");
  html,
body {
  margin: 0;
}
body {
  background: #212121;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Big Shoulders Display", cursive;
}
